{% extends 'base.html.twig' %}

{% block title %}Table Tavern{% endblock %}

{% block body %}

<h1>Welcome to the Table Tavern!</h1>

<div>
    <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Laborum voluptate cumque blanditiis commodi et tempore nobis debitis, necessitatibus quo, aspernatur illo id ad modi laudantium eos molestias accusantium quidem aliquid.
    </p>

</div>

{% include "./includes/latest_ad.html.twig" %}

<p>... and that's just a tiny part of the {{ totalAds }} other post you'll find !</p>

<div>
    <p>
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Distinctio ipsa itaque nemo sed doloribus enim, aliquam amet, odit ea sunt necessitatibus officiis. Ut doloribus aliquam magnam. Quasi libero magni nesciunt molestiae sunt nobis impedit perferendis. Autem magni fugit inventore molestias deleniti sunt ad obcaecati magnam saepe perferendis ratione aliquam placeat alias nulla quidem laudantium facere eum perspiciatis dolorum nam iure nesciunt, minima accusamus. Ex, velit sequi corporis delectus fuga perferendis.
    </p>
</div>

{% endblock %}