{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}

<div>
    <p>
        {% if app.user %}
            Hello there, welcome back!
        {% else %}
            Hello there, unknown ... person?
        {% endif %}
    </p>
</div>

{% include "./includes/latest_ad.html.twig" %}

{% endblock %}