{% extends 'base.html.twig' %}

{% block title %}Hello AdvertsController!{% endblock %}

{% block body %}

{% include "/includes/latest_ad.html.twig" %}

{% if app.user %}

{% else %}

    <div>
        <p>As a passing guest, you may only hear about the latest news.</p>
        <p>Want to see more ? <a href="{{ path ('app_login') }}">Speak friend</a> or <a href="{{ path ('app_register') }}">join us</a>.</p>
    </div>

{% endif %}

{% endblock %}